
.feature-frame {  
  max-width: 1200px;
  max-height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6em auto 0;
  
}

.feature-card-container {
  display: flex;
  flex-direction: column;
  
}

.swipeHere {
  visibility: hidden;
}

.slider-card {
  border-radius: 25px;
  margin: 5em auto ;

  display: flex;
  justify-content: flex-start;
  color: black;
  padding: 3em;
  height: 100%;
  width: 85%;
  border: 2px dashed black;
  background-size:contain;
  background-repeat: no-repeat;
}

.featured-image {
  max-width: 420px;
  max-height: 360px;
  border-radius: 15px;
  object-fit: cover;
}

.slider-card-info {
  padding: 1rem;
}

.slider-title {
font-size: 2em;
  margin-top: 16px;
  text-align: left;
  padding-left: 8px;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .slider-title {
    color: whitesmoke;
}

  .slider-blurb {
    color: whitesmoke;
}
  .feature-frame {
    color: whitesmoke;
  }

  .slider-card {
    border: 2px dashed whitesmoke;
  }

  
}

.slider-blurb {
  font-size: 1.5em;
  line-height: 150%;
  text-align: left;
  padding-left: 12px;
}

.tag-container-feature {
    display: flex;
    margin-left: 0.5em;
}

.feature-tag {
  padding: 4px 8px;
  margin: 5px 0;
  border: 1px solid #282c34;
  border-radius: 50px;
  font-size: 12px;
  color: black;
  background: white  ;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  z-index: 0;
}

.next {
  right: 2.5em;
}

.prev {
  left: 2.5em;
}



@media (max-width: 1092px) {
  .next {
    right: 2em;
  }

  .prev {
    left: 2em;
  }
}

@media (max-width: 968px) {
  .next {
    right: 1.5em;
  }

  .prev {
    left: 1.5em;
  }
  .feature-frame {
    margin-top: 6em;
    margin-bottom: 2em;
  }

  .feature-frame {
    margin: 8em 0 5em 0;
  }
}


@media (max-width: 768px) {
  .logo-title {
    font-size: 5em;
  }
  .logo-sub {
  font-size: 1em;
  }

  .slider-card-info {
    padding-left: 0.5em;
    padding-top: 0;
  }

  .slider-card {
    margin: 1em auto;
    padding: 1em 1em;
    height: 100%;
    width: 85%;
  }

  .next,
  .prev {
    visibility: hidden;
  }
}


@media (max-width: 642px) {
  .featured-image {
    display: none;
  }
  .featured-image {
    visibility: hidden;
  }
}


@media (max-width: 576px) {
  .logo-title {
  font-size: 4em;
  }
  .logo-sub {
    font-size: 0.em;
  }

  .slider-card {
    margin-top: 1.5em;
  }
}


@media (max-width: 468px) {
  .slider-card-info {
    padding: 0;
  }
  .slider-title {
    padding-left: 0px;
  }
  .slider-blurb {
      padding-left: 0;
  }
  .slider-card {
    padding: 1rem;
    width: 75%;
   
  }
  .logo-title {
      font-size: 3em;
    }
  .logo-sub {
    font-size: 0.6em;
  }

  .slider-card {
      padding: 0em 2em;
    }

  .slider-card-info {
    padding: 0;
  }
  .slider-title {
    padding-left: 0px;
  }
  .slider-blurb {
      padding-left: 0;
  }
  .tag-container {
      margin-left: -0.25em;
  }
  
}


@media (max-width: 414px) {
  .slider-card-info {
    padding: 0;
  }
  .slider-title {
    padding: 0px;
    margin-top: 0;
  }
  .slider-blurb {
      padding-left: 0;
  }
    .slider-card {
      padding: 1em 2em;
    }
  .logo-title {
      font-size: 3em;
    }
  .logo-sub {
    font-size: 0.6em;
  }
  .feature-frame {
    margin-top: 7.5em;
  }
}
